<% if stage_id == "0" %>
	<h1>
		<%= link_to_if(link, "Задания без этапа", tasks_path(tasks[0].work_id, 0)) do
			"Задания без этапа"
		end %>
	</h1>
<% else %>
	<h1>
		<%= link_to_if(link, stage.index+" - "+stage.name, tasks_path(stage.work_id, stage.id)) do
			stage.index+" - "+stage.name
		end %>
		
	</h1>
<%
end
tasks.each do |task|
	time = task.time_remain
%>
	<div class="content-item" id="item_<%= task.id %>">
		<h2><%= task.index %> - <%= task.name %></h2>
		<%= task.comment %>
		<ul class="info-ul">
			<li><span class="icon-user tipped" data-tooltip="Руководитель"></span><li><%= task.user.fio %>
			<li><span class="icon-calendar tipped" data-tooltip="Сроки"></span><li>c <%= task.start %> по <%= task.stop %>
			<li><span class="icon-calendar tipped" data-tooltip="Осталось дней"></span><li>
				<% if time["exceed"] %>Просрочено на <% else %>Осталось <% end %>
				<% unless time["years"] == 0 %><%= time["years"]  %>г.<% end %>
				<% unless time["months"] == 0 %><%= time["months"] %>мес. <% end %>
				<% unless time["days"] == 0 %><%= time["days"] %>дн. <% end %>
			<li><span class="icon-calendar tipped" data-tooltip="Статус"></span><li class="status" >
				<%= render partial: 'status', :locals => { :task => task } %>
		</ul>
		<div id=<%= "wrap_form_#{task.id}" %> >
			<%= render partial: 'form', :locals => { :task => task } %>
		</div>
	</div>
<% end %>