<div style="display: none;">
    <div id="confirm">
        <div class="comfirmaton">
        	<span class="alert" >Внимание!</span><br />После отправки данных отчет будет невозможно изменить<br />
        	<div>
	        	<%= button_tag 'Отмена', :type => 'button', :id => 'cancel' %>
	        	<%= button_tag 'Отправить', :type => 'button', :id => 'send' %>
	        </div>
        </div>
    </div>
</div>
<div class="params none-pan offset">
	<div class="wrapper">
		<span><span>Договор: </span><%= link_to @work_name, tasks_path(params[:id], ''), id: 'contract-link', class: 'step5', title: @work_name %></span>
	</div>
</div>
<div class="content lower">
	<% if params[:stage_id].nil? %>
		<% 
		if @tasks.key? 0
			tasks = @tasks[0] %>
				<%= render partial: 'task', :locals => { :tasks => tasks, :stage_id => "0", :link => true} %>
		<%
		end
		@stages.each do |stage|
			if @tasks.key? stage.id
				tasks = @tasks[stage.id] %>
					<%= render partial: 'task', :locals => { :tasks => tasks, :stage => stage, :stage_id => params[:stage_id], :link => true} %>
			<% end %>
		<% end %>
	<% else %>
		<%= render partial: 'task', :locals => { :tasks => @tasks, :stage => @stage, :stage_id => params[:stage_id], :link => false} %>
	<% end %>
</div>