<div class="params none-pan">
	<div class="wrapper">
		<span>Договор: <%= @work_name %></span>
	</div>
</div>
<div class="content lower">
	<h1><%= @stage.index %> - <%= @stage.name %></h1>
	<%
	@tasks.each do |task|
		time = task.time_remain
	%>
		<div class="content-item">
			<h2><%= task.index %> - <%= task.name %></h2>
			<%= task.comment %>
			<ul class="info-ul">
				<li><span class="icon-user tipped" data-tooltip="Руководитель"></span><li><%= task.user.fio %>
				<li><span class="icon-calendar tipped" data-tooltip="Сроки"></span><li>c <%= task.start %> по <%= task.stop %>
				<li><span class="icon-calendar tipped" data-tooltip="Осталось дней"></span><li>
					<% if time["exceed"] %>Осталось <% else %>Просрочено на <% end %>
					<% unless time["days"] == 0 %><%= time["days"] %>дн. <% end %>
					<% unless time["months"] == 0 %><%= time["months"] %>мес. <% end %>
					<% unless time["years"] == 0 %><%= time["years"]  %>г.<% end %>
			</ul>
			<%= form_for :task do |f| %>
				Отчет о проделанной работе<br />
				<%= f.text_area :result, :class => "text" %>
			<% end %>
		</div>
		<ul class="labels">
			<li><span class="link tipped" data-tooltip="Получить ссылку"><span class="icon-link"></span></span>
		</ul>
	<% end %>
</div>