<header>
	<%= image_tag("logo.png") %>
	<div class="header-content">
		
		<nav>
			<ul class="categories" id="step1">
				<li><%= link_to_unless((current_page?(contracts_path) || current_page?(controller: "document", action: "show_contract") || current_page?(root_path)), "ДОГОВОРА", contracts_path, class: "menu") do
						link_to(content_tag(:span, "ДОГОВОРА"), contracts_path, class: "sel")
					end %>
				<li><%= link_to_unless((current_page?(archives_path) || current_page?(:controller=>"document", :action=>"show_archive")), "РКД", archives_path, class: "menu") do
						link_to(content_tag(:span, "РКД"), archives_path, class: "sel")
					end %>
				<li><%= link_to_unless((current_page?(:controller=>"document", :action=>"standards") || current_page?(:controller=>"document", :action=>"show_standard")), "ГОСТЫ", standards_path, class: "menu") do
						link_to(content_tag(:span, "ГОСТЫ"), standards_path, class: "sel")
					end %>
				<% unless session[:user_id].nil? %>
				<li><%= link_to_unless((current_page?(stages_path) || current_page?(controller: "schedule", action: "tasks")), "ПЛАН-ГРАФИК", stages_path, class: "menu") do
						link_to(content_tag(:span, "ПЛАН-ГРАФИК"), stages_path, class: "sel")
					end %>
				<% end %>
				</li>
			</ul>
		
			<ul class="tools">
				<li id="step2">
					<%= form_tag(search_path, :method => 'get', :id => 'search-form') do %>
						<%= search_field_tag 'search', nil, :placeholder => 'Искать...', :maxlength => 70 %>
						<span class="btn-search"><span class='icon-search' id='submit-search'></span></span>
					<% end %>
				<li id="step3">
					<%= link_to_if(session[:user_id].nil?, 
								"Вход", 'javascript: void(0)', :id => "login", :class => "log") do 
						link_to((@fio+"<span class='icon-remove'></span>").html_safe, logout_path, :method => "delete", :id => "logout", :class => "log" )
					 end %>
			</ul>
		</nav>
		
	</div>
</header>
<div class="none">
	<div id='auth'>
		<div class="arcticmodal-close"><span class="icon-remove"></span></div>
		<div class="login">
			<%= render partial: 'shared/login' %>
		</div>
	</div>
</div>
<div class="fio none">Выйти из профиля</div>
<div class="none" id="errors" data-cant-show="Часть выбранных файлов невозможно<br />отобразить в браузере" data-cant-show-all="Выбранные файлы невозможно отобразить в браузере" data-empty="Необходимо заполнить отчет о проделанной работе"></div>
<div class="trip none" data-prev="Назад" data-next="Дальше" data-finish="Закрыть" data-step1="Меню выбора раздела" data-step2="Поиск по названию договора/стандарта" data-step3="Вызов формы авторизации/выход из профиля" data-step4="Вспомогательное меню фильтрации<br /> и сортировки результатов" data-step5="Название-ссылка на конкретный договор/стандарт" data-step6="Ссылка на договор/стандарт" data-step7="Переключение между списком прикреплённых <br /> документов и информацией о дороворе" data-step5-1="Название-ссылка на список задач<br />по конкретному договору" data-step6-1="Название-ссылка на список задач<br />по конкретному этапу" data-step7-1="Название задачи"></div>
