<% path = show_standard_url(standard) %>
<div class="content-item" data-item-id="<%= standard.id %>" >
	<div class="info">
		<h2>
			<% if standard.documents.size > 0 %>
				<%= link_to_unless(i, standard.name, path) do
						link_to(standard.tree_name(c), path)
					end %>
			<% else %>
				<%= standard.name %>
			<% end %>
		</h2>
	</div>
	<div class="files none">
		<% if standard.documents.size > 0 %>
			<h2>
				<%= link_to_unless(i, standard.name, path) do
					standard.tree_name(c) 
				end %>
			</h2>
			<ul>
				<% standard.documents.each do |document| %>
					<li>
						<% if access < document.security %>
							<span class='icon-sign-blank'></span>
						<% else %>
							<%= label_tag "doc#{document.id}", "<span class='icon-check-empty'></span>".html_safe, class: "check" %>
							<%= check_box_tag "doc#{document.id}", document.id, false, :class => "none #{document.can_see}" %>
						<% end %>
					<li><span class="icon-file <%= document.can_see %>"></span>
					<li><%= document.path_file_ed %>
				<% end %>
			</ul>
			<div class="btn-wrap">
				<span data-tooltip="Скачать" data-type="standart_<%= standard.id %>" class="btn download tipped"><span class="icon-download"></span></span>
				<span class="btn show tipped" data-type="standart_<%= standard.id %>" data-tooltip="Показать"><span class="icon-eye"></span></span>
			</div>
		<% end %>
	</div>
</div>
<ul class="labels">
	<% if standard.documents.size > 0 %>
		<li>
			<span class="attachment tipped" data-tooltip="Прикреплённые файлы" data-tool-attach="Прикреплённые файлы" data-tool-list="Скрыть файлы" data-item-link="<%= standard.id %>"><span class="icon-attachment"></span></span>
	<% end %>
		<li>
			<%= text_field_tag "link#{standard.id}", path, class: "none" %>
			<span class="link tipped" data-tooltip="Получить ссылку"><span class="icon-link"></span></span>
	
	<% if j %>
			<li>
				<span class="struct tipped"
				<% if standard.id == 106 %>
					data-tooltip="Скрыть вложения" data-toggled="on"
				<% else %>
					data-tooltip="Показать вложения"
				<% end %>
				data-tool-plus="Показать вложения" data-tool-minus="Скрыть вложения" data-item-link="<%= standard.id %>">
				<% if standard.id == 106 %>
					<span class="icon-minus"></span>
				<% else %>
					<span class="icon-plus"></span>
				<% end %>
				</span>
	<% end %>
</ul>