<% if current_page?(archives_path) || current_page?(contracts_path) %>
	<div class="params">
		<div class="wrapper"><div>
			<ul>
				<li data-option='all'><span class="icon-remove"></span>Применён фильтр по категориям:
				<% if !params[:customers].blank? %><li data-option='customers'><span class="icon-remove"></span>Заказчик<% end %>
				<% if !params[:managers].blank? %><li data-option='managers'><span class="icon-remove"></span>Руководитель<% end %>
				<% if !params[:departments].blank? %><li data-option='departments'><span class="icon-remove"></span>Головной отдел<% end %>
				
			</ul>
		</div></div>
	</div>
<% end %>
<% if current_page?(search_path) %>
	<div class="params none-pan">
		<div class="wrapper">
			<span title="<%= params[:search] %>" >Результаты поиска по запросу: "<%= params[:search] %>"</span>
		</div>
	</div>
<% end %>
<% if current_page?(:controller => "schedule", :action => "tasks") %>
	<div class="params none-pan offset">
		<div class="wrapper">
			<span><span>Договор: </span><%= link_to @work_name, tasks_path(params[:id], ''), id: 'contract-link', title: @work_name %></span>
		</div>
	</div>
<% end %>

<% if current_page?(:controller => "schedule", :action => "tasks") %>
	<div class="content lower">
		<% if params[:stage_id] == "0" %>
			<h1>Задачи без этапа</h1>
		<% end %>
		<% if params[:stage_id] != "0" && !params[:stage_id].nil? %>
			<h1><%= @stage.index %> - <%= @stage.name%></h1>
		<% end %>
		<div class="not-found">Ничего не найдено, измените параметры фильтрации задач</div>
	</div>
<% else %>
	<div class="content lower">
		<div class="not-found">Ничего не найдено</div>
	</div>
<% end %>
